{% extends "base.html" %}
{% load static %}



{% block bodyblock %}
    <header class="intro-header" style="background-image: url('/static/img/bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Resume</h1>
                        <hr class="small">
                        <span class="subheading">My CV</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Highly motivated Technical support professional. Computer literate with strong electronic, electrical and mechanical skills. Customer oriented problem solver with an ability to adapt to new situations. A quick learner with a desire for continuous personal growth.  Diverse experience  includes healthcare industries and the public sector.</p>

                <h3>Skills</h3>
                <h5>Programming</h5>
                <ul>
                    <li>HTML 5/CSS</li>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>Django</li>
                </ul>
                <h5>Computer</h5>
                <ul>
                    <li>Windows XP, Vista, 7</li>
                    <li>Mac osX</li>
                </ul>

                <h3>Current Position</h3>
                <br>

                <h4>Medical Office Specialist, Pediatric Associates of the NW, 2012-Present</h4>
                <ul>
                    <li>Provides full front office administrative support for 6 healthcare practitioners</li>
                    <li>Maintain and verify accuracy and completeness of patient information and insurance documentation using EMR software</li>
                    <li>Schedule and coordinate appointments, tests and procedures</li>
                    <li>Handles inquiries and requests from patients</li>
                </ul>

                <h3>Previous Positions</h3>

                <h4>IT Consultant, B'nai B'rith Summer Camp, Summer 2012</h4>
                <ul>
                    <li>Implemented data networks and provided onsite technical solutions and troubleshooting</li>
                    <li>Improved efficiency and processes by defining hardware and network requirements </li>
                </ul>

                <h4>Manager, Starbucks, 2009 - 2011</h4>
                <ul>
                    <li>Effectively managed a staff of 10 employees, working with team to execute action plans that met operational and organization objectives</li>
                    <li>Reviewed store environment and key business indicators to identify problems, concerns and opportunities for improvement in order to provide coaching and direction to the shift team in order to achieve operational goals</li>
                </ul>

                <h3>Military</h3>

                <h4>Combat Medic Unit Computer Specialist, Israeli Defense Force, 1999 - 2002</h4>
                <ul>
                    <li>Managed a combat unit medical clinic</li>
                    <li>Provided IT support to soldiers and commanders </li>
                    <li>Used problem solving skills to analyze and maintain security network for the military base</li>
                </ul>

                <h3>Volunteer Experience</h3>

                <h4>First Aide Tech, Magen David Adom Ambulance Service, 1998 - 1999</h4>
                <ul>
                    <li>Provide emergency and non-emergency patient care and transport</li>
                    <li>Participating in regular operational training and administrative duties</li>
                </ul>
            </div>
        </div>
    </div>




{% endblock %}