{% extends "base.html" %}
{% load static %}

{% block bodyblock %}
    <header class="intro-header" style="background-image: url('/static/img/bg4.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hi! Welcome to my website. My name is Amir and I come from Israel originally, and moved to the US when I was 21 fresh out of the Army. I am a Yankees fan, and I love Baseball.</p>
                <p>I got into programming a little later in life. But I love it!! Its a really good challenge for me, and I take it head on. I would like to focus more on MEAN stack to become a good back/front end developer.</p>
                <p>I am about to finish a Bootcamp development program at PDX Code Guild, and look forward to finding a place where I can grow as a programmer, and master the skills(if there is such a thing).</p>
            </div>
        </div>
    </div>




{% endblock bodyblock %}
